.index_container {
  padding-bottom: 120px;
  ::-webkit-scrollbar{
    width: 0;
    height: 0;
    color: transparent;
  }
  .swiper_item{
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      width: 90%;
      height: 100%;
      border-radius: 15px;
      margin:0 20px;
    }
  }
  .handle_list {
      margin-top: 40px;
      white-space: nowrap;
      .handle_list__item {
          display: inline-block;
          width: 20%;
          // float: left;
          margin-left: 15px;
          text-align: center;
          .handle_list__item__icon-wrap {
              // background-color: #d43c33;
              width: 100px;
              height: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              margin: 0 auto;
              background-image: linear-gradient(to left, #ff1a13,#f91e11,#ff4f43,#ff4c46);
          }
          .handle_list_item__icon {
              margin-left: 5px;
          }
          .handle_list__item__text {
              font-size: 24px;
          }
          .recommend_playlist__item__title {
             overflow: hidden;
             text-overflow: ellipsis;
             display: -webkit-box;
             -webkit-line-clamp: 2;
             -webkit-box-orient: vertical;
             font-size: 26px;
             margin-top: 10px;
             height: 72px;
             white-space: break-spaces;

          }
      }
  }
  .recommend_swiper_list{
    padding: 20px 40px 40px 40px;
    overflow: hidden;
    .recommend_swiper_list__content{
      height: 400px;
      .recommend_swiper_list__content_swiper_item{
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        .handle_recommend_swiper_list__icon{
          position: absolute;
          right: 20px;
          color: #b1b1b1
        }
      }
      .recommend_swiper_list__content_item{
        display: flex;
        align-items: center
      }
      .recommend_swiper_list__content_item_img{
        width:120px;
        height:120px;
        border-radius:20px;
      }
      .recommend_swiper_list__content_item_text{
        padding-left: 20px;

      }
      .song_name{
        font-size: 30px;
      }
      .song_artist{
        font-size: 26px;
        color: #b1b1b1;

      }
      .song_artist_describe{
        font-size: 26px;
        color: #b1b1b1;
      }


    }
  }
  .recommend_playlist {
    padding: 40px;
    overflow: hidden;

    .recommend_playlist__title {
      margin-bottom: 30px;
    }

    .recommend_playlist__content {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      .recommend_playlist__item {
        width: 32%;
        margin-bottom:30px;
        position: relative;
        .recommend_playlist__item__cover__num {
            font-size: 20px;
            position: absolute;
            right: 10px;
            top: 0;
            font-weight: 700;
            z-index: 3;
            display: flex;
            align-items: center;
            color: #fff;
            .at-icon-sound {
                margin-right: 10px;
            }
        }
        .recommend_playlist__item__img {
          width: 100%;
          height: 200px;
          border-radius: 12px;
        }
        .recommend_playlist__item__title {
           overflow: hidden;
           text-overflow: ellipsis;
           display: -webkit-box;
           -webkit-line-clamp: 2;
           -webkit-box-orient: vertical;
           font-size: 26px;
           margin-top: 10px;
           height: 72px;
        }
      }
    }
  }
  .recommend_scroll_list{
    padding: 40px 0px 0px 40px;
    white-space: nowrap;
  }
  .recommend_playlist__item {
    width: 30%;
    margin-right: 10px;
    margin-bottom:30px;
    position: relative;
      display: inline-block;
    .recommend_playlist__item__cover__num {
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 0;
        font-weight: 700;
        z-index: 3;
        display: flex;
        align-items: center;
        color: #fff;
        .at-icon-sound {
            margin-right: 10px;
        }
    }
    .recommend_playlist__item__img {
      width: 100%;
      height: 200px;
      border-radius: 12px;
    }
    .recommend_playlist__item__title {
       overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 2;
       -webkit-box-orient: vertical;
       font-size: 26px;
       margin-top: 10px;
       height: 72px;
       white-space: break-spaces;

    }
  }
  .recommend_list__title{

  }
}
