.circling {
  animation: circling 20s infinite linear;
  &.z-pause {
      animation-play-state: paused;
  }
}
.at-tabs-pane{
  margin-top: 100px
}
@keyframes circling {
  0% {
      transform: rotate(0deg)
  }
  to {
      transform: rotate(1turn)
  }
}
